a {
  display: inline-block;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week5/logo-ANSWER.svg);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-link:hover {
  border-color: $success !important;
}

.nav-link.active{
  color: $success;
  border-color: $success !important;
}

// google icon
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1
}
.material-symbols-outlined{
  vertical-align: top
}